
<div class="container" style="padding: 10px;">
    <a title="Perfil de Facebook" href="https://www.facebook.com/eduardoruben.lazarte"><img src="assets/logo face.png" id="iconos" style="left:1150px; width: 50px; height: 50px;"></a>
    <br><h1 style="margin-left: 15px;">Eduardo Rubén Lazarte</h1><hr>
    <table>
        <tr >
            <td>                    
                <ul>
                    <li><h3>Analista en Sistemas de Computación<img src="assets/editar.png" alt="*" id='iconos' title="editar"></h3></li>
                    <li><h3>Ejemplo         <button type="button" id="editar"><img src="assets/editar.png" style="width:15px; height:15px;">Editar</button></h3></li>
                    
                    <li><h3>Desarrollador Fullstack Jr.<img src="assets/editar.png" alt="*" id='iconos' title="editar"></h3></li>
                </ul>                    
            </td>
           
                <ul>
                    <li><h3>Me recibi en 2010 en el Instituto Superior Jujuy, mi experiencia programando es en Visual FoxPro 9 aunque nunca lo hice de manera laboral, mi experiencia se basa en desafios que yo mismo me proponia.<img src="assets/editar.png" alt="*" id='iconos' title="editar"></h3></li>
                </ul>
          
        </tr>
    </table>
    <input type="hidden" name="texto" value="">
</div>

