<body >
    <div class="container" style="padding: 10px;">
    <table>
        <tbody>
            <tr>
                <h2><li>Hospital Materno Infantil<img src="assets/editar.png" alt="*" id='iconos' title="editar"></li></h2>
           
                <td>
                    <h4><ul><li>Reemplazo en Recursos Humanos como Administrativo. <img src="assets/editar.png" alt="*" id='iconos' title="editar"></li></ul></h4>
                    <h4><ul><li> desde Octubre de 2011 hasta Diciembre de 2011<img src="assets/editar.png" alt="*" id='iconos' title="editar"></li></ul></h4>
                    <h4><ul><li> desde Abril de 2012 hasta Mayo de 2012<img src="assets/editar.png" alt="*" id='iconos' title="editar"></li></ul></h4>
                    <h4><ul><li> desde Septiembre de 2013 hasta marzo de 2014<img src="assets/editar.png" alt="*" id='iconos' title="editar"></li></ul></h4>
                    <h4><ul><li><b>Tareas: </b>Gestión de Expediente Documental y de Pago de todo el personal reemplazante del hospital.<img src="assets/editar.png" alt="*" id='iconos' title="editar"></li></ul></h4>
        
                </td>
          
            </tr><hr>
    
            <tr>
                <h2><li>Correo Argentino S.A.</li></h2>
                <td>
                    <h4><ul><li>Eventual Administrativo.</li></ul></h4>
                    <h4><ul><li> desde Enero de 2012 hasta Septiembre de 2013</li></ul></h4>
                    <h4><ul><li> Afectado por elecciones P. A. S. O. del 11/08/13 envío de telegramas mediante sistema DCR</li></ul></h4>
                    <h4><ul><li><b>Tareas: </b>Diversas tareas administrativas.</li></ul></h4>
                </td>
            </tr><hr>
    
            <tr>
                <h2><li>Colegio Médico de Jujuy</li></h2>
                <td>
                    <h4><ul><li>Reemplazo Administrativo Facturación.</li></ul></h4>
                    <h4><ul><li> desde Diciembre de 2015 a Marzo de 2016</li></ul></h4>
                    <h4><ul><li><b>Tareas: </b>Facturación de prestaciones medicas: consultas y prácticas.</li></ul></h4>
                </td>
            </tr><hr>
    
        <tr>
            <h2><li>Inmobiliaria Remax NOA II</li></h2>
            <td>
                <h4><ul><li>Administrativo.</li></ul></h4>
                <h4><ul><li> desde Abril de 2017 hasta Junio de 2017</li></ul></h4>
                <h4><ul><li><b>Tareas: </b>Secretario de agente Top Producer Jorge Villar.</li></ul></h4>
            </td>
        </tr><hr>
        
    
        <tr>
            <h2><li>Clinica Mayo S.A.</li></h2>
            <td>
                <h4><ul><li>Facturador.</li></ul></h4>
                <h4><ul><li> Julio de 2017 hasta junio de 2021</li></ul></h4>
                <h4><ul><li><b>Tareas: </b>Facturación Sanatorial. Manejo de nomenclador nacional, NBU, facturas.</li></ul></h4>
            </td>
        </tr><hr>
    
        <tr>   
            <h2><li> BRAMED S.R.L.</li></h2>
            <td>  
                <h4><ul><li>administrativo-facturación auditoria de prestaciones médicas.</li></ul></h4>
                <h4><ul><li>Desde septiembre de 2021 hasta diciembre de 2021.</li></ul></h4>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</body>
